@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

figure {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* 중앙 박스 그룹 */
figure section {
    width: 60vw;
    height: 65vh;
    margin-top: 110vh;
    transition: 1s;
    transform: rotate(0deg);
}

/* 개별 그룹 */
figure section article {
    width: 100%;
    height: 100%;
    position: absolute;
}

figure section article .inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;    
}


/* main*/

figure section article #main .pic {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin: auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate_image 15s linear infinite;transform-origin: 50% 50%;
}

figure section article #main .pic::before,
figure section article #main .pic::after {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    background-image: inherit;
    background-position: center;
    background-repeat: inherit;
    background-size: cover;
    transform-origin: center center;
}

figure section article #main .pic::before {
    transform: scale(1.01);
    filter: blur(20px);
    animation: none;
}

.dot {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 3;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

figure section article .inner .buttons {
    display: flex;
    justify-content: center;
    transform: translateY(30%);
}

figure section article .inner .buttons div {
    margin: 4%;
}

#play i, #backward i, #forward i{
    font-size: 1.3vw;
    cursor: pointer;
}
#play:hover, #backward:hover, #forward:hover {
    transform: scale(1.1);
}
/* music_search */
#music_search {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
}

#music_search a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #818181;
}

#music_search .image {
    width: 20%;
    height: 20%; 
    margin-bottom: 20px;  
}

#music_search .image img{
    object-fit: fill;
    width: 100%;
    height: 100%;     
}

#music_search i {
    font-size: 2vw;
    margin-right: 1vw;
}

#music_search input {
    font-size: 1vw;
}

/* articles */
#articles {
    height: 80vh;
    width: 60vw;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

#articles #top_wrapper {
    background-color: #FFFFFF;
    position: fixed;
    width: 50vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: row;
    margin-bottom: 10%;
}

#articles .chart_field {
    box-sizing: border-box;
    background: #ADCDDA;
    border-radius: 6px;
    height: 3vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.rank {
    margin-right: 10vw;
}

.rank, .music_info {
    color: #FFFFFF;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
}

#articles #top_wrapper {
    width: 100%;
    box-sizing: content-box;
    display: flex;
    justify-content: space-around;
}

#articles #top_wrapper #emoji_select {
    color: #181818;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
    width: 10vw;
    height: 3vh;
    background: #FFFFFF;
    outline: none;
    text-align: center;
    border: 2px solid #818181;
    border-radius: 8px;
}

#articles #top_wrapper #emoji_select option{
    color: #181818;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    background: #FFFFFF;
    border-radius: 8px;
}

#articles .chart_field {
    display: flex;
    justify-content: space-around;
}

#articles .chart_field #rank {
    color: #FFFFFF;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
}

#articles .chart_field #music_info {
    color: #FFFFFF;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
}

#bottom_wrapper {
    margin-top: 10vw;
    width: 60vw;
    height: 40vh;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#bottom_wrapper .post {
    width: 13vw;
    height: 12vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#bottom_wrapper .post .image {
    background-color: #ADADAD;
    width: 12vw;
    height: 9vw;
    border-radius: 8px;
}

#bottom_wrapper .post .image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#bottom_wrapper .post .span_wrapper {
    width: 12vw;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
}

#bottom_wrapper .post .span_wrapper .title{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
}

#bottom_wrapper .post .span_wrapper .song{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 0.7vw;
    color: #818181;
}
/* 버튼 */

figure .btnLeft {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40vw, -50%);
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
}

figure .btnLeft span {
    font-family: 'Pretendard';
    font: 1.5vw;
    color: #000000;
    opacity: 1;
    transform: translateX(30%);
    transition: 0.5s;
}

figure .btnLeft::before { /* 이전 버튼 화살표 라인 가상 요소*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: left center;
    transform: rotate(-180deg);
    transition: 0.5s;
}

figure .btnLeft::after { /* 이전 버튼 화살표 라인 가상 요소*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: left center;
    transform: rotate(-180deg);
    transition: 0.5s;
}

figure .btnLeft:hover span {
    opacity: 0;
    transform: translateX(100%);
}

figure .btnLeft:hover::before {
    transform: rotate(-30deg);
}

figure .btnLeft:hover::after {
    transform: rotate(30deg);
}

figure .btnRight {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(35vw, -50%);
    display: flex;
    align-items: center;
    text-align: right;
    cursor: pointer;
}

figure .btnRight span {
    font-family: 'Pretendard';
    font: 1.2vw;
    color: #000000;
    opacity: 1;
    transform: translateX(-30%);
    transition: 0.5s;
}

figure .btnRight::before { /* 이전 버튼 화살표 라인 가상 요소*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: right center;
    transform: rotate(180deg);
    transition: 0.5s;
}

figure .btnRight::after { /* 이전 버튼 화살표 라인 가상 요소*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: right center;
    transform: rotate(-180deg);
    transition: 0.5s;
}

figure .btnRight:hover span {
    opacity: 0;
    transform: translateX(-100%);
}

figure .btnRight:hover::before {
    transform: rotate(30deg);
}

figure .btnRight:hover::after {
    transform: rotate(-30deg);
}

/* guide */

.guide {
    position: absolute;
    right: 4vw;
    bottom: 4vw;
}
