@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(..\img\background.svg);
}

figure {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* 중앙 박스 그룹 */
figure section {
    width: 60vw;
    height: 65vh;
    margin-top: 120vh;
    transition: 1s;
    transform: rotate(0deg);
}

/* 개별 그룹 */
figure section article {
    width: 100%;
    height: 100%;
    position: absolute;
}

figure section article .inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;    
}

figure section article #main .image {
    width: 70%;
    height: 70%;
    margin: auto;
}

figure section article #main .image img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

/* main*/
figure section article .inner .buttons {
    display: flex;
    justify-content: center;
}

figure section article .inner .buttons i {
    margin: 4%;
}

/* music_search */
#music_search {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
}

#music_search .image {
    width: 20%;
    height: 20%; 
    margin-bottom: 20px;  
}

#music_search .image img{
    object-fit: fill;
    width: 100%;
    height: 100%;     
}

/* post_article */
#post_article {
    height: 80vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#post_article::-webkit-scrollbar {
    display: none;
}

#post_article .inner {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

#post_article .chart_field {
    box-sizing: border-box;
    background: #ADCDDA;
    border-radius: 6px;
    height: 40px;
    width: 30vw;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#post_article .chart_field #rank {
    color: #FFFFFF;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
}

#post_article .chart_field #music_info {
    color: #FFFFFF;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
}

#post_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 20px;
    column-gap: 40px;
}

#post_container .post {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post_container .post .cover_img {
    background-color: #ADADAD;
    width: 100%;
    height: 100%;
}

#post_container .post .cover_img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* 버튼 */

figure .btnLeft {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40vw, -50%);
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
}

figure .btnLeft span {
    font: 11px/1;
    color: #000000;
    opacity: 1;
    transform: translateX(30%);
    transition: 0.5s;
}

figure .btnLeft::before { /* 이전 버튼 화살표 라인 가상 요소*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: left center;
    transform: rotate(-180deg);
    transition: 0.5s;
}

figure .btnLeft::after { /* 이전 버튼 화살표 라인 가상 요소*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: left center;
    transform: rotate(-180deg);
    transition: 0.5s;
}

figure .btnLeft:hover span {
    opacity: 0;
    transform: translateX(100%);
}

figure .btnLeft:hover::before {
    transform: rotate(-30deg);
}

figure .btnLeft:hover::after {
    transform: rotate(30deg);
}

figure .btnRight {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(40vw, -50%);
    display: flex;
    align-items: center;
    text-align: right;
    cursor: pointer;
}

figure .btnRight span {
    font: 11px/1;
    color: #000000;
    opacity: 1;
    transform: translateX(-30%);
    transition: 0.5s;
}

figure .btnRight::before { /* 이전 버튼 화살표 라인 가상 요소*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: right center;
    transform: rotate(180deg);
    transition: 0.5s;
}

figure .btnRight::after { /* 이전 버튼 화살표 라인 가상 요소*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: right center;
    transform: rotate(-180deg);
    transition: 0.5s;
}

figure .btnRight:hover span {
    opacity: 0;
    transform: translateX(-100%);
}

figure .btnRight:hover::before {
    transform: rotate(30deg);
}

figure .btnRight:hover::after {
    transform: rotate(-30deg);
}

