* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.wrap {
    width: 40vw;
    height: 70vh;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}

.inner_content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* margin: 0 auto 100px; */
    padding: 45px;
    text-align: center;
}

.musicInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    height: 5vh;
    outline: 0;
    background: #FFFFFF;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 10px;    
    border-radius: 2px;
}

.musicInfo #musicCover {
    width: 4vh;
    height: 4vh;
    background-color: #E6E6E6;
}

.musicInfo #musicCover img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.musicInfo #musicTitle {
    margin-left: 40px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
}

#text, #title {
    font-family: 'Pretendard', sans-serif;
    outline: 0;
    background: #FFFFFF;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 2px;
}

section {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#title {
    width: 45%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji_div {
    width: 50%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.emoji_div img {
    width: 4vh;
    height: 4vh;
    object-fit: fill;
}

#text {
    height: 40vh;
    display: flex;
    align-items: center;
}

button {
    font-family: 'Pretendard', sans-serif;
    text-transform: uppercase;
    outline: 0;
    height: 5vh ;
    background: #FFFFFF;
    width: 50%;
    transform: translate(50%);
    border: 0;  
    color: #818181;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 2px;
}

button:hover,.form button:active,.form button:focus {
    background: #FFFFFF;
}