* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #E6E6E6;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.search {
    width: 48vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.search .bar {
    margin-top: 5vh;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.search .bar .searchfield{
    width: 65%;
    height: 60px;

    background: #F7F7F7;
    border-radius: 40px;
    border-style: none;
}

.search .bar .searchBtn {
    margin-left: 10px;
    width: 60px;
    height: 60px;

    background: #F7F7F7;
    border-radius: 50px;
    border-style: none;
}

.lp {
    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lp .wrap {
    width: 70%;
    height: 70%;
}

.lp img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.search .result {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #E6E6E6;
}

.search .result .coverImg {
    width: 72px;
    height: 72px;
    margin-left: 72px;
    background-color: #E6E6E6;
}

.search .result span {
    margin-left: 40px;
}