* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    box-sizing: border-box;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search_bar {
    width: 60vw;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_bar .image {
    width: 80px;
    width: 130px;
}

#search_bar .image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#search_bar form {
    width: 55vw;
    height: 5vh;
}

#search_bar form .searchfield {
    width: 80%;
    height: 100%;
    border: 1.5px solid #ADADAD;
    border-radius: 100px;
    background-color: #FFFFFF;
}

#result_section {
    margin-top: 10%;
    display: flex;
    width: 60vw;
    box-sizing: content-box;
    flex-direction: column;
    align-items: center;
}

#result_section .result{
    width: 55vw;
    height: 72px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

#result_section .result .image{
    width: 64px;
    height: 64px;
}

#result_section .result .image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
