* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

figure {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
}

/* 중앙 박스 그룹 */
figure section {
    width: 40vw;
    height: 65vh;
    position: absolute;
    left: 50%;
    top: 140%;
    transform: translate(-50%);
    margin-top: -25vh;
}

/* 개별 그룹 */
figure section article {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

figure section article .inner {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 5vh 2vw 5vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;      
}