* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.wrap {
    width: 40vw;
    height: 70vh;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    background-color: #E0E0E0;
    border-radius: 20px;
}

.wrap form {
    padding: 50px 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-wrap: wrap;
}

.wrap form #titlefield {
    width: 40%;
    height: 64px;
    margin: 30px;
}

.wrap form #titlefield::-moz-focus-inner {
    width: 40%;
    height: 64px;
    margin: 30px;
}

.wrap form #endBtn {
    width: 40%;
    height: 64px;
    margin: 30px;
    border-radius: 4px;
    cursor: pointer;
}

.wrap form #contentfield {
    width: 80%;
    height: 60%;
}
