@keyframes pan {
    100% {
        background-position: 10% 40%;
    }
}

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    animation: pan 7s infinite alternate linear;
}

.wrap {
    width: 40vw;
    height: 70vh;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}

form {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

form .musicInfo {
    display: flex;
    align-items: center;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    height: 5vh;
    outline: 0;
    background: #FFFFFF;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 10px;    
    border-radius: 2px;
}

form .musicInfo #musicCover {
    width: 4vh;
    height: 4vh;
    background-color: #E6E6E6;
}

form .musicInfo #musicCover img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

form .musicInfo #musicTitle {
    margin-left: 40px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
}

form input {
    font-family: 'Pretendard', sans-serif;
    outline: 0;
    background: #FFFFFF;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 2px;
}

form section {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

form #title {
    width: 45%;
    height: 5vh;
}

form .emoji_field {
    width: 50%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-1vw);
}

form #text {
    height: 40vh;
}

button {
    font-family: 'Pretendard', sans-serif;
    text-transform: uppercase;
    outline: 0;
    height: 5vh ;
    background: #FFFFFF;
    width: 50%;
    transform: translate(50%);
    border: 0;
    color: #818181;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 2px;
}

form button:hover,.form button:active,.form button:focus {
    background: #FFFFFF;
}

.emoji_button{
    width: 4vh;
    height: 4vh;
    background: none;
    opacity: 0.5;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji_button:hover {
    background: none;
    opacity: 1;
}

.emoji_button img {
    width: 4vh;
    height: 4vh;
    object-fit: fill;
}